<%- contentFor('body') %>
<div class="assignment-content">
    <h1>3D application with React Three Fiber</h1>
    <div class="assignment-details">
        <h2>Assignment Overview</h2>
        <ul>
            <li>Create a scene with multiple objects, implement animation and lighting.</li>
            <li>Add interactivity: camera rotation, changing materials of objects when interacting.</li>
            <li>Export the app to AR/VR format for viewing on appropriate devices.</li>
        </ul>
    </div>
</div>


