<header>
    <nav>
        <div class="logo">Advanced Frontend. Практическое задание 3</div>
        <ul class="header-links">
            <li><a href="/assignment-1">Interactive visualization with D3.js</a></li>
            <li><a href="/assignment-2">3D application with React Three Fiber</a></li>
            <li><a href="/assignment-3">PWA using Service Workers</a></li>
        </ul>
    </nav>
</header>