body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-links {
    font-size: 12px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 1rem 0;
    /* position: fixed; */
    min-height: 100vh;
    flex: 1;
    bottom: 0;
    width: 100%;
}




#chart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto;
}

.bar {
    transition: fill 0.3s ease;
}

.bar:hover {
    cursor: pointer;
}


.region { fill: #69b3a2; stroke: white; }